<footer>
<p>This is the footer</p>
</footer>

<script src="{{site.assets}}/js/material.min.js"></script>
<script>
$(document).ready(function(){
    $.material.init()
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>