<td>{{#if isChoice}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;{{else}}{{#if isValue }}Value:&nbsp;{{/if}}{{/if}}{{> schema_label}}</td>
<td>{{> schema_cardinality}}</td>
<td>{{> schema_description}}</td>
