<h2>Parsing Specification Hierarchy for: {{hierarchy.label}}</h2>

<div class="container">
    {{#each hierarchy.children as |child|}}
      {{#if child}}
        {{> schema_namespace_list }}
      {{/if}}
    {{/each}}
</div>
