<div class="row">
  <h2><a href="{{{getNamespaceFilename label}}}">{{getNamespaceName label }}</a></h2>
  {{!-- {{log this}} --}}
  <ul class="spec-data-element-list">
    {{#each children as |child|}}
      {{#if child}}
        {{> schema_dataelement_list namespaceStatic=../../label namespaceDynamic=../label}}
      {{/if}}
    {{/each}}
  </ul>
</div>
