{{#eq type "IdentifiableValue"}}  
  {{>schema_field isValue=true isChoice=isChoice}}
{{else}}
  {{#eq type "ChoiceValue"}}
    <tr>
      <td>Value: Choice</td>
      <td></td>
      <td></td>
    </tr>
    {{#each value as |val|}}
      <tr>
        {{>schema_value val isChoice='true'}}
      </tr>
    {{/each}} 
  {{else}}
  {{/eq}}
{{/eq}}
{{!--  <tr>
  <td></td>
  <td></td>
  <td></td>
</tr> --}}
{{!--   {{#if identifier}}
    {{> schema_identifier identifier}}
{{/if}} --}}
