<TD>
{{#if childValue}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{/if}}
{{#if isChoice}}|&nbsp;{{else}}{{#if isValue }}Value:&nbsp;{{/if}}{{/if}}
{{#if childValue}}{{else}}
{{#ne this.foundin.[0] this.concretedataelement}}[{{this.foundin.[0]}}]{{/ne}}
{{/if}}
{{#if isSubElement}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;with{{/if}}
{{#if identifierList }}
{{#each identifierList as |i|}}
{{> shr_label i }}.
{{/each}}
{{/if}}
{{> shr_label }}
{{#if isTBD}}
(TBD)
{{/if}}
</TD>
<TD>
	{{> shr_basedon_constraints }}
</TD>
<TD>{{> shr_cardinality this.effectivecardinality }}</TD>
<TD>
	{{description}}
</TD>
