<li class="spec-data-element">
  <a href="/shr/{{getValuesetLink label namespace}}">{{label}}</a><br>
{{!--  <a id="myLink" title="Click to do something"
     href="#" onclick="App.loadDataElement('{{namespaceStatic}}');return false;">{{label}}</a><br>  --}}
</li>
