<li class="spec-data-element">
  {{> shr_datalement_reference }}<br>

{{!--  <a id="myLink" title="Click to do something"
     href="#" onclick="App.loadDataElement('{{namespaceStatic}}');return false;">{{label}}</a><br>  --}}
</li>
