{{#eq type "IdentifiableValue"}}  
  {{>shr_field isValue=true isChoice=isChoice}}
{{else}}
  {{#eq type "ChoiceValue"}}
    <tr>
      <td>Value: Choice</td>
      <td></td>
      <td></td>
    </tr>
    {{#each value as |val|}}
      <tr>
        {{>shr_value val isChoice='true'}}
      </tr>
    {{/each}} 
  {{else}}
  {{/eq}}
{{/eq}}
