<div class="section-heading">
  <h1> 
      The SHR Specification Valuesets
  </h1> 
</div>
<div class="section-content">
  <div class="container">
      {{#each children}}
        {{#eq this.type "ValueSets"}}
          {{#each (getAllNamespaces children) as |ns|}}
            <div class="row">
            <h2>{{> shr_namespace_reference label=ns}}</h2>  
            {{> shr_index_vs_element vsets=(filterByNamespace ../children ns) namespace=ns entryOnly=false}}
            </div>
          {{/each}}
        {{/eq}}
      {{/each}}
  </div>
</div>