<div class="section-heading">
    <h1>
        The SHR Specification
    </h1>
    <h2>
              The Standard Health Record is a rapidly evolving specification under active development. Ultimately, an
              individual's SHR will consist of a series of entries relevant to the health of that person. The entries are
              divided among the categories below, and each <a href="/shr/shr.base/#Entry">entry</a> always includes basic
              information about itself (e.g. who created it and when). Click on the entries below to explore details of the
              Standard Health Record. Go to <u><a href="https://github.com/standardhealth" style="font-weight: 600;">the SHR
              GitHub</a></u> or <u><a href="mailto:shr-project-list@lists.mitre.org" style="font-weight: 600;">email the
              collaborative</a></u> to get involved. To view documentation for the SHR SPEC (CIMPL) and the underlying JSON model
              (CIMCORE) go to the <u><a href="https://github.com/standardhealth/shr-cli/wiki" style="font-weight: 600;">SHR GitHub Wiki</a></u>.
              Go to the <u><a href="/reference-model/index.html" style="font-weight: 600;"> SHR Reference Model</a></u> to see an alternate
              representation of the SHR Spec. <br><br>

              <span class="spec-subheader">Relationship to HL7 Clinical Information Modeling Initiative (CIMI)</span> <br><br>
              The SHR model presented here, especially the components labeled “CIMI”, have NOT
              been approved by the HL7 CIMI Work Group. <u>The CIMI components here should NOT be taken as the official version of CIMI</u>.
              While a serious attempt has been made to align SHR to the CIMI Reference Model, CIMI is a moving target,
              undergoing significant, continual revision as part of ongoing development and ballot reconciliation. The last release
              of the CIMI was Version 0.0.4, for the January 2018 ballot, and many unreleased changes
              have occurred since then – some of which are reflected in the SHR model. SHR and CIMI are working together
              to converge to a single reference model.
              <br><br>
               SHR largely conforms to the evolving class hierarchy of CIMI,
              and adopts CIMI’s clinical statement topic-context pattern. SHR models can also be written out as
              Basic Metamodel (BMM) and Archetype Description Language (ADL) files, currently the “gold standard”
              serialization format of CIMI models. However, there are differences between SHR and CIMI: <br><br>
              <ol>
              <li>SHR uses FHIR data types.</li>
              <li>SHR includes mappings to FHIR. </li>
              <li>SHR adds terminology bindings that do not exist in CIMI. </li>
              <li>SHR modifies CIMI model structures that are particularly difficult to map to FHIR. </li>
              <li>SHR classes may have different attributes than CIMI classes, reflecting requirements not addressed in CIMI.</li>
            </ol>
            <br>
              <span class="spec-subheader">Disclaimers</span> <br><br>
              This specification may contain and/or reference intellectual property owned by third parties ("Third Party IP").
              Acceptance of the FHIR Licensing Terms does not grant any rights with respect to Third Party IP.
              The licensee alone is responsible for identifying and obtaining any necessary licenses or authorizations
              to utilize Third Party IP in connection with the specification or otherwise. <br><br>
              Any actions, claims or suits brought by a third party resulting from a breach of any Third Party IP
              right by the Licensee remains the Licensee’s liability. Following is a non-exhaustive list of third-party
              terminologies that may require a separate license:
              <br><br>
              <div class="row">
                <div class="col-sm-3">Terminology</div>
                <div class="col-sm-3">Owner/Contact</div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-3">SNOMED CT</div>
                <div class="col-sm-3"><a href="https://www.snomed.org/snomed-ct/get-snomed-ct">SNOMED International</a></div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-3">LOINC</div>
                <div class="col-sm-3"><a href="https://loinc.org/license/">Regenstrief Institute</a></div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-3">ICD-O-3</div>
                <div class="col-sm-3"><a href="https://www.snomed.org/snomed-ct/get-snomed-ct"></a><a href="http://www.who.int/classifications/icd/adaptations/oncology/en/">World Health Organization</a></div>
              </div>
                <br> Last updated:
                <script> document.write(new Date().toLocaleDateString()); </script>
                <br> View on:
                <a href="https://github.com/standardhealth/shr_spec/tree/e437464eba600c759e835cf63a010c12627c7e08">Github (e437464)</a>
            </h2>
</div>
<div class="section-content">
    <div class="container">
        {{#each namespaces as |child|}}
            {{#if child}}
                {{#if (containsEntry child)}}
                    {{> shr_index_namespace entryOnly=true}}
                {{/if}}
            {{/if}}
        {{/each}}
    </div>
</div>
