<div class="section-heading">
  <h1> 
    The Standard Health Record Data Elements
  </h1>
  <h2>
    The Standard Health Record is a rapidly evolving specification under active development. Ultimately, an individual's SHR will consist of a series of entries relevant to the health of that person. The entries are divided among the categories below, and each <a href="/shr/base/#Entry">entry</a> always includes basic information about itself (e.g. who created it and when). Click on the data elements below to explore details of the Standard Health Record. Go to <a href="https://github.com/standardhealth" style="font-weight: 600;">the SHR GitHub</a> or <a href="mailto:shr-project-list@lists.mitre.org" style="font-weight: 600;">email the collaborative</a> to get involved. To view documentation for the SHR SPEC (CIMPL) and the underlying JSON model (CIMCORE) go to the <a href="https://github.com/standardhealth/shr-cli/wiki" style="font-weight: 600;">SHR GitHub Wiki</a>. Go to the <a href="/reference-model/index.html" style="font-weight: 600;">SHR Reference Model</a> to see an alternate representation of the SHR Spec. <br/>
    <br/>
    Last updated: 1/26/18<br/>
    View on: <a href="https://github.com/standardhealth/shr_spec/tree/08cdb560a024286008cfd9b2c138ea10a44484f7">Github (08cdb56)</a>
  </h2>
</div>
<div class="section-content">
  <div class="container">
    {{#each namespaces as |child|}}
      {{#if child}}
          {{> shr_index_namespace entryOnly=false}}
      {{/if}}
    {{/each}}
  </div>
</div>