<div class="section-heading">
  <h1> 
      The Standard Health Record Value Sets
  </h1> 
</div>
<div class="section-content">
  <div class="container">
    {{!-- Iterate over each namespace and its corresponding valuesets, as defined in lookup table --}}
    {{#each vsetsByNamespace as |valuesets|}}
      {{#if valuesets}}
        <div class="row">
        <h2>{{> shr_namespace_reference label=@key suffix="/vs"}}</h2>
        {{> shr_index_vs_element vsets=this entryOnly=false}}
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>