<h2>Parsing Specification shr_v4 for: {{shr_v4.label}}</h2>

<div class="container">
    {{#each shr_v4.children}}
      {{#eq this.label "Namespaces"}}
        {{#each this.children as |child|}}
          {{#if child}}
            {{> shr_index_namespace }}
          {{/if}}
        {{/each}}
      {{/eq}}
    {{/each}}
</div>
