<div class="container markdown-body">
    <div class="row">
      <h1>{{getNamespaceName namespace}} Code Systems</h1> 
      {{!-- Switch below with above if namespace version is desired --}}
{{!--      <h1>{{getNamespaceName label}}{{> shr_version version=grammarVersion}}</h1> --}}
      <div class="spec-data-elements">
        {{#each csys as |child|}}         
          {{#if child}}
            {{> shr_cs_in_ns }}
          {{/if}}
        {{/each}}
      </div>
    </div>
</div>
