<div class="container markdown-body">
    <div class="row">
      <h1>{{getNamespaceName namespace.label}}</h1> 
      {{!-- Switch below with above if namespace version is desired --}}
{{!--      <h1>{{getNamespaceName label}}{{> shr_version version=grammarVersion}}</h1> --}}
      <h2 style="border: none;">{{namespace.description}}</h2>
      <div class="spec-data-elements">
        
        {{#each namespace.children as |child|}}         
          {{#if child}}
            {{> shr_dataelement }}
          {{/if}}
        {{/each}}
      </div>
    </div>
</div>
