<!DOCTYPE html>
<html lang="en">
  {{> head }}
  <body>
    <a class="sr-only" href="#content">Skip to main content</a>
    <div class="wrapper">
      {{> nav-main }}
      <div class="container">
        <section id="spec-viewer">
            {{> body }}
        </section>
      </div>
      <div class="wrapper-padding">
      </div>
    </div>
    <!-- Footer -->
    {{> footer }}

    <script type="text/javascript" src="/assets/js/typeahead.jquery.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>  
    <script type="text/javascript" src="/assets/js/search.js"></script>
    <script type="text/javascript" src="/assets/js/parse.js"></script> 
  </body>
</html>

