<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>

    <a class="sr-only" href="#content">Skip to main content</a>
    <!-- Navigation component -->
    {{> nav-main }}


    <div class="container bs-docs-container">
      {{> body }}
    </div>

    <!-- Footer -->
    {{> footer }}

  </body>
      <script>
    String.prototype.capitalize = function() {
    return this.charAt(0).toUpperCase() + this.slice(1);
}
      $(document).ready(function() {
        $.getJSON("hierarchy.json",function(data) {
          window.hierarchy = data;
          window.namespaces = _.indexBy(hierarchy.children,"label");
          window.de = _.map(hierarchy.children,function(namespace) {
            namespace.index = _.indexBy(namespace.children,"label");
          });
          hierarchy.index = namespaces;
          deep(hierarchy.children);
        });
      });
      function deep(h) {
        _.each(h,function(item) {
          if (item && _.isObject(item)) {
            if (item.type == "Identifier") {
              if (item.namespace == "primitive") {
                item.description = item.label.capitalize();
              }
              if (item.namespace.startsWith("shr.")) {
             //   console.log("SHR Namespace : " + item.namespace);
                item.idref = hierarchy.index[item.namespace].index[item.label];
              }
              // console.log("Identifier = " + item);
            }
            deep(item);
          } else {
            if (item && _.isArray(item)) {
              _.each(item,function(child) {
                deep(child);
              });
            }
            // not an object, not an array
            // console.log(item);
          }
        });
      }
      
    </script>
</html>