<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>

    <a class="sr-only" href="#content">Skip to main content</a>
    <!-- Navigation component -->
    {{> nav-main }}

    <div id="spec-viewer">
      <div style="width:40%;display:inline-block">
        {{> body }}
      </div>
      <div id="dynamic_view" style="width:40%;display:inline-block">
        <div id="dynamic_content"></div>
        <button id="load_hierarchy">Click here to load the dynamic view</button>
      </div>
    </div>
    <!-- Footer -->
    {{> footer }}
    <script src='assets/app.js'></script>
  </body>
</html>

