{{#eq type "QuantifiedValue"}}
  {{> schema_quantifiedvalue }}
{{else}}
<table>
  <thead>
    <tr>
      <th>value</th>
      <th>count</th>
      <th>description</th>
    </tr>
  </thead>
  <tbody>
  {{#if valueset}}
    <tr>
      <td>{{valueset}}</td>
      <td></td>
      <td></td>
    </tr>
  {{/if}}
  {{#if identifier}}
      {{> schema_identifier identifier}}
  {{/if}}
  </tbody>
  </table>
{{/eq}}