

<div id="partials">
{{#each site.partials}}
    <script id="{{this}}" src="assets/partials/{{this}}.hbs" type="text/x-handlebars-template"></script>
{{/each}}
</div>  


<h2>Parsing Specification Hierarchy for: {{hierarchy.label}}</h2>

<div class="container">
    {{#each hierarchy.children as |child|}}
      {{#if child}}
        {{> schema_namespace_list }}
      {{/if}}
    {{/each}}
</div>
