<tr>
  <td>Value:&nbsp;
    <code>{{label}}</code>
    <div style="display:none">
      <p>Identifier.label [ {{label}} ]</p>
      <p>Identifier.type [ {{type}} ]</p>
      <p>Identifier.namespace [ {{namespace}} ]</p>
    </div>
  </td>
</tr>

