{{#eq type "QuantifiedValue"}}
  {{> schema_quantifiedvalue }}
{{else}}
  <p>{{label}}</p>
  <p>{{type}}</p>
  {{#if valueset}}
    <p>{{valueset}}</p>
  {{/if}}
  {{#if identifier}}
    <p class="spec-identifier">
      {{> schema_identifier identifier}}
    </p>
  {{/if}}
{{/eq}}