<table>
  <thead>
    <tr>
      <th>value</th>
      <th>count</th>
      <th>description</th>
    </tr>
  </thead>
  <tbody>
    {{#each children as |child| }}
      {{#if child}}
        <tr>
          <td>{{value.identifier.label}}</td>
          <td>{{min}} - {{max}}</td>
          <td>{{value.identifier.idref.description}}</td>
        </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>