<div class="row">
  <h2><a href="{{{getNamespaceFilename label}}}">{{label}}</a></h2>
  <ul class="spec-data-element-list">
    {{#each children as |child|}}
      {{#if child}}
        {{!-- > (shr_partial child.type) --}}
        {{> schema_dataelement_list namespaceStatic=../../label namespaceDynamic=../label}}
      {{/if}}
    {{/each}}
  </ul>
</div>
