<div id="partials">
{{#each site.partials}}
    <script id="{{this}}" src="assets/partials/{{this}}.hbs" type="text/x-handlebars-template"></script>
{{/each}}
</div>  

<h1>The SHR Specification Viewer</h1>
<p>Click on the data elements below to explore details of the Standard Health Record. The Standard Health Record is a rapidly evolving specification under active development. Go to <a href="https://github.com/standardhealth" style="font-weight: 600;">the SHR GitHub</a> or <a href="mailto:shr-project-list@lists.mitre.org" style="font-weight: 600;">email the collaborative</a> to get involved.
</p>

{{>shr_index}}
